<?xml version='1.0' encoding='utf-8'?>
<widget id="id.co.asyst.flightmonitoring.mobile" version="1.0-SNAPSHOT" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>Flight Monitoring</name>
    <description>
        Flight Monitoring mobile apps
    </description>
    <author email="dev@asyst.co.id" href="http://www.asyst.co.id">
        Asyst Dev Team
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <!--  <preference name="phonegap-version"      value="3.4.0" />   -->     <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="landscape" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <preference name="load-url-timeout" value="1800000" />
    <preference name="loadUrlTimeoutValue" value="1800000"/>
    
    <icon src="icon.png" />
        
    <!-- iPhone / iPod Touch  -->
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="60" height="60" />
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="120" height="120" />

	<!-- iPad -->
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="76" height="76" />
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="152" height="152" />

	<!-- Settings Icon -->
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="29" height="29" />
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="58" height="58" />

	<!-- Spotlight Icon -->
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="40" height="40" />
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="80" height="80" />
	
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="57" height="57" />
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="114" height="114" />

	<!-- iPad -->
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="72" height="72" />
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="144" height="144" />

	<!-- iPhone Spotlight and Settings Icon -->
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="29" height="29" />
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="58" height="58" />

	<!-- iPad Spotlight and Settings Icon -->
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="50" height="50" />
	<icon src="img/logo_ga_96x96.png" gap:platform="ios" width="100" height="100" />
    
    <icon src="img/logo_ga_96x96.png" gap:platform="android" gap:density="ldpi" />
	<icon src="img/logo_ga_96x96.png" gap:platform="android" gap:density="mdpi" />
	<icon src="img/logo_ga_96x96.png" gap:platform="android" gap:density="hdpi" />
	<icon src="img/logo_ga_96x96.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="img/logo_ga_96x96.png" gap:platform="android" gap:density="xxhdpi" />
    <icon src="img/logo_ga_96x96.png" gap:platform="winphone" />
    <icon src="img/logo_ga_96x96.png" gap:platform="winphone" gap:role="background" />
        
    <gap:splash src="splash.png" />

    <gap:splash src="img/logo_ga_200x200.png" gap:platform="ios" width="320" height="480" />
	<!-- iPhone and iPod touch -->
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="ios" width="640" height="960" />

	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="ios" width="640" height="1136" />

	<!-- iPad -->
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="ios" width="1024" height="768" />

	<!-- Retina iPad -->
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="ios" width="1536" height="2048" />
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="ios" width="2048" height="1536" />
    <gap:splash src="img/logo_ga_200x200.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="img/logo_ga_200x200.png" gap:platform="android" gap:density="xxhdpi" />
    <gap:splash src="img/logo_ga_200x200.png" gap:platform="winphone" />
   
    <content src="index.html" />
    <access origin="*" />
   
    
</widget>
